<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启注解扫描,方式1：扫描com.javaee.annotaion包及其子包下的注解
    <context:component-scan base-package="com.javaee.annotaion" />
    -->

    <!--开启注解扫描,方式2：精确指定对那个包下的类进行注解扫描-->
    <context:component-scan base-package="com.javaee.annotaion.dao.Impl,
                                          com.javaee.annotaion.service.Impl"/>

</beans>